<!DOCTYPE html>
<html>
  <head>
    <title>IBEX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.aj1 = "<%= image_url('aj1-session.png') %>";
      window.ow_aj1 = "<%= image_url('ow-aj1.png') %>";
      window.air_mag = "<%= image_url('air-mag.jpeg') %>";
      window.plats = "<%= image_url('air-yeezy-plat.jpeg') %>";
      window.atmos = "<%= image_url('atmos-air-max.jpeg') %>";
      window.banned = "<%= image_url('banned.jpeg') %>";
      window.bc3 = "<%= image_url('black-cement-aj3.jpeg') %>";
      window.creams = "<%= image_url('cream-350.jpeg') %>";
      window.gg750 = "<%= image_url('grey-gum-750.jpeg') %>";
      window.inertia = "<%= image_url('inertia.jpeg') %>";
      window.blazer = "<%= image_url('ow-blazer.jpeg') %>";
      window.chicago = "<%= image_url('ow-chicago.jpeg') %>";
      window.red_octobers = "<%= image_url('red-october.jpeg') %>";
      window.royal = "<%= image_url('royal.jpeg') %>";
      window.sacai = "<%= image_url('sacai-white.jpeg') %>";
      window.statics = "<%= image_url('static-700.jpeg') %>";
      window.ts1_high = "<%= image_url('travis-high.jpeg') %>";
      window.ts1_low = "<%= image_url('travis-low.jpeg') %>";
      window.unions = "<%= image_url('union-black-toe.jpeg') %>";
      window.wave_runners = "<%= image_url('wave-runner.jpeg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
